﻿{{#extend "css"}}
<link rel='stylesheet' href='/css/index.css'/>
{{/extend}}

{{#extend "js"}}
    <script type="text/javascript" src="/js/index.js"></script>
{{/extend}}

<div class="post">
	<div class="title">
		<h3>Hello, World!</h3>
	</div>
	<div class="info">
		<p>Ad magna veniam in reprehenderit elit proident labore labore nulla aliqua fugiat enim ut amet duis voluptate proident sit. Officia anim ex mollit dolore dolor aliquip nisi labore dolor consequat <a href='/dank'>dank</a> reprehenderit dolore voluptate occaecat dolor exercitation cillum voluptate ad sed irure ut ex id non magna cillum veniam exercitation tempor consequat non dolor incididunt amet nostrud labore sint non proident excepteur nostrud dolor ut aliquip est dolor sed veniam labore duis amet excepteur sint fugiat et pariatur dolor laborum amet fugiat ut eiusmod nisi quis ut minim officia ad sint mollit nulla.</p>
	</div>
</div>

<div class="post">
	<div class="title">
		<h3>Hello, World!</h3>
	</div>
	<div class="info">
		<p>Foluptate aute consectetur ut nostrud in consequat tempor nulla proident dolore fugiat magna tempor do dolor irure nisi non labore magna aliqua officia consequat nisi esse eiusmod qui id et ut reprehenderit non sed ut sed est aliqua nostrud et pariatur sunt labore eiusmod consectetur sed dolore consequat.</p>
	</div>
</div>

