<!DOCTYPE html>
<html>
<head>
    <title>Simple Boilerplate example!</title>

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />

    {{{block "css"}}}
</head>
<body>
    {{> "navbar"}}

    <div class="content">
        {{{body}}}
    </div>
    
    <script type="text/javascript" src="/js/main.js"></script>

    {{{block "js"}}}
</body>
</html>