﻿header nav {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:69;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

header nav ul li {
    float: left;
}

header nav ul li:hover {
    background-color: #1a1a1a;
    -webkit-transition:1s;
}

header nav ul a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header nav a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color:#C3C3C3;
}